$font-family_1: 'Source Code Pro', monospace;
@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/sourceCodePro.ttf");
}

body {
  font-family: $font-family_1;
  font-size: 12px;
  line-height: 1.5;
  color: $color_text;
}
a {
  color: $color_pink;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
pre {
  padding: 3px;
  background-color: $color_highlight;
  overflow: auto;
  max-width: fit-content;
  border-radius: $border_radius;
}
figure.highlight {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 5px;
  pre:first-child {
    margin-left: auto;
    margin-right: auto;
  }
}


.fs-1 {
  font-size: 0.8rem;
}
.fs-2 {
  font-size: 1rem;
}
.fs-3 {
  font-size: 1.2rem;
}
.fs-4 {
  font-size: 1.4rem;
}
.fs-5 {
  font-size: 1.6rem;
}
